* {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.box-one {
  background-color: rgb(185, 36, 36);
  border: 0 solid rgb(90, 171, 109);
  padding: 20px;
  margin: 20px;
  border-width: 20px;
}

.box-two {
  background-color: blue;
  border: 0 solid rgb(59, 192, 49);
  padding: 20px;
  margin: 20px;
  border-width: 20px;
}
